@page
@model RPSWebVersionRazorPages.Pages.RpsGame.RoundStartModel
@{
    ViewData["Title"] = "Round Start";
}

<header id="header">
    <h1>Welcome to the THUNDERDOME!</h1>

</header>
<h4>You have selected @Model.Players</h4>